<!--
  Use this component if you need an input field wrapped with a label and a helper text,
  otherwise use a regular html <input> with 'input' class for simple use cases.
  hint: <input type="text" class="input input-default"> (see /src/css/components/input.css) 
  
  input options: 
  - label
  - name
  - value
  - placeholder
  - helper
  - size [sm|base|lg]
  - type [text|password|textarea|or whatever]
  - rows [for textarea]
  - error
  - attributes
  - inputAttributes
  - class
-->
{% macro input(options) %}
<div class="grid gap-1 {{ options.class }}" {{ options.attributes|raw }}>
  {% if options.label is not empty %}
  <label for="{{ options.name }}" class="{{ options.error is not empty ? 'text-red-500' : 'text-trueGray-800' }} font-semibold">
    {{ options.label }}
  </label>
  {% endif %}

  {% set input_color = options.error ? 'input-danger' : 'input-default' %}
  {% set input_size = options.size == 'sm' ? 'input-sm' : options.size == 'lg' ? 'input-lg' : 'input-base' %}
  {% if options.type == 'password' %}
  <div x-data="{ show: false }" class="{{ options.class }} relative" {{ options.inputAttributes|raw }}>
    <div x-cloak @click="$refs.passwordInput.focus(); show = !show" class="absolute w-6 h-6 transform -translate-y-1/2 cursor-pointer right-4 top-1/2 text-trueGray-500">
      <svg x-show="!show" class="w-full h-full fill-current">
        <use xlink:href="#ph_eye" />
      </svg>
      <svg x-show="show" class="w-full h-full fill-current">
        <use xlink:href="#ph_eye-slash" />
      </svg>
    </div>
    <input id="{{ options.name }}" name="{{ options.name }}" placeholder="{{ options.placeholder }}" :type="show ? 'text' : 'password'" x-ref="passwordInput" type="password" class="w-full input-password {{ input_size }} {{ input_color }}">
  </div>
  {% elseif options.type == 'textarea' %}
  <textarea id="{{ options.name }}" name="{{ options.name }}" placeholder="{{ options.placeholder }}" rows="{{ options.rows }}" class="input {{ input_size }} {{ input_color }}" {{ options.inputAttributes|raw }}>{{ options.value }}</textarea>
  {% else %}  
  <input id="{{ options.name }}" name="{{ options.name }}" placeholder="{{ options.placeholder }}" type="{{ options.type }}" value="{{ options.value }}" class="input {{ input_size }} {{ input_color }}" {{ options.inputAttributes|raw }}>
  {% endif %}

  {% if options.error is not empty %}
  <p class="text-red-500">{{ options.error }}</p>
  {% elseif options.helper is not empty %}
  <p class="text-trueGray-500">{{ options.helper }}</p>
  {% endif %}
</div>
{% endmacro %}

{#
switch options:
- name
- checkedValue
- uncheckedValue
- checked [true|false]
- activeText
- inactiveText
- attributes
- class
#}
{% macro switch(options) %}
<div x-data="{ checked: {{ options.checked ? 'true': 'false' }} }" class="{{ options.class }} flex items-center gap-2" {{ options.attributes|raw }}>
  <input x-ref="{{ options.name }}" id="{{ options.name }}" value="{{ options.checked ? options.checkedValue : options.uncheckedValue }}" name="{{ options.name }}" class="hidden">
  <div @click="checked = !checked; $el.previousElementSibling.value = checked ? '{{ options.checkedValue }}' : '{{ options.uncheckedValue }}'" :class="{'bg-emerald-500': checked, 'bg-trueGray-300': !checked}" class="relative cursor-pointer w-14 h-7 rounded-3xl">
    <div :class="{'left-8': checked, 'left-1': !checked }" class="absolute w-5 h-5 bg-white rounded-full left-8 top-1"></div>
  </div>
  <div>
    <span x-show="checked">{{ options.activeText }}</span>
    <span x-show="!checked">{{ options.inactiveText }}</span>
  </div>
</div>
{% endmacro %}

{#
dropdown options:
- class
- attributes
- selections [array of objects]
  . text
  . icon
  . dangerTheme [true|false]
  . attributes
> dispatch this element with 'toggle' event. hint: dropdownEl.dispatchEvent(new CustomEvent('toggle'))
#}
{% macro dropdown(options) %}
<div x-cloak x-data="{ show: false }" @toggle="show = !show" @click="show = false" @click.outside="show = false" x-show="show" class="{{ class }} absolute z-50 overflow-hidden bg-white border divide-y rounded-lg drop-shadow border-trueGray-200 divide-trueGray-200" {{ options.attributes|raw }}>
  {% for selection in options.selections %}
  <button class="{{ selection.dangerTheme ? 'bg-red-50 text-red-500 hover:bg-red-200' : 'hover:bg-trueGray-200' }} flex items-center gap-4 justify-between w-full px-4 py-2 select-none" {{ selection.attributes|raw }} >
    <span>{{ selection.text }}</span>
    {% if selection.icon %}
    <svg class="w-5 h-5 fill-current">
      <use xlink:href="#ph_{{ selection.icon }}">
    </svg>
    {% endif %}
  </button>
  {% endfor %}
</div>
{% endmacro %}