{% macro input(label, name, type = 'text', size = 'medium', helper = '', error = '', attributes = '', class = '') %}
<div class="grid gap-1 {{ class }}">
  {% if label is not empty %}
  <label for="{{ name }}" class=" {{ error is not empty ? 'text-red-500' : 'text-trueGray-800' }} font-semibold">{{
    label }}</label>
  {% endif %}

  <div {{ type=='password' ? 'x-data="{ show: false }"' }} class="relative">
    {% if type == 'password' %}
    <div @click="$refs.passwordInput.focus(); show = !show"
      class="absolute w-6 h-6 transform -translate-y-1/2 cursor-pointer right-4 top-1/2 text-trueGray-500">
      <svg x-show="!show" class="w-full h-full fill-current">
        <use xlink:href="#ph_eye" />
      </svg>
      <svg x-show="show" class="w-full h-full fill-current">
        <use xlink:href="#ph_eye-slash" />
      </svg>
    </div>
    {% endif %}
    <input id="{{ name }}" name="{{ name }}" {{ type=='password' ? ":type=\" show ? 'text' : 'password' \"
      x-ref=\"passwordInput\"" : "type=\" $type\"" }}
      class="{{ type == 'password' ? 'pl-4 pr-12' : 'px-4' }} {{ error is not empty ? 'border-red-500' : 'border-trueGray-400' }} w-full py-2.5 bg-white border rounded-lg  focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-transparent placeholder-trueGray-500">
  </div>

  {% if error is not empty %}
  <p class="text-red-500">{{ error }}</p>
  {% elseif helper is not empty %}
  <p class="text-trueGray-500">{{ helper }}</p>
  {% endif %}
</div>
{% endmacro %}

<!-- button: size=small|medium|large, outlined=true|false -->
{% macro button(size, outlined, text, leftIcon = '', rightIcon = '', attributes = '', class = null) %}
<button {{ attributes }}
  class="{{ class }} flex items-center self-center gap-2 px-4 py-2 text-base font-semibold text-white rounded-lg bg-trueGray-800">
  {% if leftIcon is not empty %}
  <svg class="w-5 h-5 fill-current">
    <use xlink:href="#ph_{{ leftIcon }}-bold">
  </svg>
  {% endif %}
  <span>{{ text }}</span>
  {% if rightIcon is not empty %}
  <svg class="w-5 h-5 fill-current">
    <use xlink:href="#ph_{{ rightIcon }}-bold">
  </svg>
  {% endif %}
</button>
{% endmacro %}

<!-- input_field: type=text|password|textarea|orwhtever rows=[number for textarea rows] -->
{% macro input_field(name, type, rows = null, error = null, attributes = null, class = null) %}
{% set common_classes = (error is not empty ? 'border-red-500' : 'border-trueGray-400') ~ 'py-2.5 bg-white border rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-transparent placeholder-trueGray-500' %}
{% if type == 'password' %}
<div {{ attributes }} x-data="{ show: false }" class="<?= $class ?? '' ?> relative">
  <div @click="$refs.passwordInput.focus(); show = !show" class="absolute w-6 h-6 transform -translate-y-1/2 cursor-pointer right-4 top-1/2 text-trueGray-500">
    <svg x-show="!show" class="w-full h-full fill-current">
      <use xlink:href="#ph_eye" />
    </svg>
    <svg x-show="show" class="w-full h-full fill-current">
      <use xlink:href="#ph_eye-slash" />
    </svg>
  </div>
  <input id="{{ name }}" name="{{ name }}" :type="show ? 'text' : 'password'" x-ref="passwordInput" type="password" class="{{ common_classes }} w-full pl-4 pr-12">
</div>
{% elseif type == 'textarea' %}
<textarea {{ attributes }} id="{{ name }}" name="{{ name }}" rows="{{ rows }}" class="{{ class }} {{ common_classes }} px-4"></textarea>
{% else %}  
<input {{ attributes }} id="{{ name }}" name="{{ name }}" type="{{ type }}" class="{{ class }} {{ common_classes }} px-4">
{% endif %}
{% endmacro %}