{% extends "wrappers/base.html.twig" %}
{% block head %}
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock head %}
{% block body %}

<body class="w-screen h-screen px-4 pb-4 sm:grid sm:place-content-center">
  {% include "dest/symbol/iconset.svg" %}
  <form action="{{ route_to('reset-password') }}" method="post"
    class="grid items-end w-full h-full sm:w-112 sm:border sm:border-neutral-300 sm:rounded-lg sm:grid-rows-none sm:gap-6 sm:p-16">
    {{ csrf_field() }}

    <div class="space-y-2">
      <h1 class="text-2xl font-bold">Reset your password</h1>
      <p>TODO: put a text here</p>
    </div>

    {% import "components/auth_components.html.twig" as auth_components %}
    {{ auth_components.message_box() }}

    <input type="hidden" name="token" value="{{ old('token', token ?? '') }}">
    <input type="hidden" name="email" value="{{ old('email', email ?? '') }}">

    <br>
    <div class="space-y-4">
      {% import "components/components.html.twig" as components %}
      {{ components.input({ 
        label: 'New password', name: 'password', type: 'password', size: 'lg', error: session('errors.password')
      }) }}
      {{ components.input({
        label: 'Confirm new password', name: 'pass_confirm', type: 'password', size: 'lg', error: session('errors.pass_confirm')
      }) }}
    </div>

    <button type="submit" class="w-full py-2.5 px-4 text-lg rounded-lg font-semibold bg-emerald-500 text-white">
      Reset my password
    </button>
  </form>
  <script src="{{ base_url('js/auth.js') }}"></script>
</body>
{% endblock body %}