{% extends "wrappers/base.html.twig" %}
{% block head %}
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock head %}
{% block title %}Tambah produk - {{ store.name }}{% endblock title %}

{% block body %}

{% include "dest/symbol/iconset.svg" %}

<header class="flex items-center py-4 space-x-12 px-7">
  <a href="{{ route_to('admin/products') }}">
    <svg class="fill-current w-11 h-11">
      <use xlink:href="#ph_caret-left">
    </svg>
  </a>
  <h1 class="block text-3xl font-bold">Tambah produk</h1>
</header>

<main class="w-full mt-8">
  <form class="pb-16 mx-auto space-y-24 w-min" action="{{ route_to('admin/add_product') }}" method="post" enctype="multipart/form-data">
    {{ csrf_field() }}
    <section>
      {% import "components/components.html.twig" as components %}
      {{ _self.input_row({
        label: 'Foto',
        helper: 'Format foto .jpg .jpeg .png dengan ukuran minimal 1000 x 1000px dan maksimal 2MB.<br><br>
        Pilih foto atau tarik dan letakkan di kotak hingga 10 foto. Geser foto sesuai urutan yang diinginkan.',
        name: 'photos',
        input_area: _self.upload_zone(),
      }) }}
    </section>

    <section class="space-y-10">
      {{ _self.input_row({
      label: 'Judul',
      helper: 'Cantumkan maks. 80 karakter.',
      for: 'title',
      input_area: 
        components.input({
          name: 'title', type: 'text', size: 'lg', error: session('errors.title'), class: 'w-full'
        }),
      }) }}

      {{ _self.input_row({
      label: 'Deskripsi',
      helper: 'Cantumkan maks. 4000 karakter.',
      for: 'desc',
      input_area:
        components.input({ 
          name: 'desc', type: 'textarea', size: 'lg', rows: 6, error: session('errors.desc'), class: 'w-full'
        }),
      }) }}

      {{ _self.input_row({
      label: 'Kategori (opsional)',
      helper: 'Produkmu bisa dikategorikan agar memudahkan calon pembeli. Pelajari tips mengkategorikan produk.',
      for: 'cat_id',
      input_area: 
        components.input({
          name: 'cat_id', type: 'text', size: 'lg', error: session('errors.cat_id'), class: 'w-full', attributes: 'disabled'
        }),
      }) }}
    </section>

    {#
    <section>
      {{ _self.input_row({
      label: 'Varian (opsional)',
      helper: 'Kamu bisa menambah varian produk seperti warna, ukuran dan rasa.',
      for: 'variant',
      input_area: '
        <button disabled class="btn btn-base btn-outlined-emerald">
          <svg><use xlink:href="#ph_plus-bold"></svg>
          <span>Tambah varian</span>
        </button>
      ',
      }) }}
    </section>
    #}

    <section class="space-y-10">
      {{ _self.input_row({
      label: 'Stok',
      for: 'stock',
      input_area: components.switch({
        name: 'stock',
        checkedValue: 1,
        uncheckedValue: 0,
        checked: true,
        activeText: 'Ada',
        inactiveText: 'Habis',
      }),
      }) }}

      {{ _self.input_row({
      label: 'Harga',
      helper: 'Cantumkan harga asli produkmu',
      for: 'price',
      input_area:
        components.input({
          name: 'price', type: 'number', size: 'lg', attributes: 'min="1", step="any"', error: session('errors.price'), class: 'w-full'
        }),
      }) }}

      {#
      {{ _self.input_row({
      label: 'Diskon (opsional)',
      helper: 'Kamu bisa mencantum harga setelah diskon dari harga asli.',
      for: 'discount',
      input_area:'
        <button disabled class="btn btn-base btn-outlined-emerald">
          <svg><use xlink:href="#ph_plus-bold"></svg>
          <span>Beri diskon</span>
        </button>
      ',
      }) }}
      #}
    </section>

    <section class="flex justify-end space-x-3">
      <a href="{{ route_to('admin/products') }}">
        <button type="button" class="btn btn-base btn-outlined-black">Batalkan</button>
      </a>
      <button disabled class="btn btn-base btn-outlined-black">Simpan ke draf</button>
      <button type="submit" class="btn btn-base btn-emerald">Simpan</button>
    </section>
  </form>
</main>
<script src="{{ base_url('/js/addProductHelper.js') }}"></script>
{% endblock body %}

{#
input_row options:
- label
- helper
- for
- input_area
- class
#}
{% macro input_row(options) %}
<div class="{{ options.class }} flex gap-20">
  <div class="space-y-1 w-72">
    <label for="{{ options.for }}" class="text-xl font-semibold">{{ options.label }}</label>
    <p class="text-base">{{ options.helper|raw }}</p>
  </div>
  <div class="w-[37rem]">{{ options.input_area|raw }}</div>
</div>
{% endmacro %}

{% macro upload_zone() %}
  <div x-data="uploadZoneData" id="uploadZone" @dragover.prevent="ondragover($el)" @dragleave.prevent="ondragleave($el)" @drop.prevent="ondropfiles($event.dataTransfer.files, $el.classList.remove('ring', 'ring-emerald-500', 'ring-emerald-trueGray'))" class="relative w-full h-full rounded-lg">
    <input x-ref="inputFile" @change.prevent="ondropfiles($el.files)" type="file" multiple name="photos[]" id="photos" class="hidden">
    <div id="thumbnails-container" class="flex flex-wrap gap-6">

      <div id="upload-btn" @click="$refs.inputFile.click()" class="{{ session('errors.photos') ? 'border-red-500' : border-trueGray-400 }} grid border-2 rounded-lg cursor-pointer w-28 h-28 place-content-center">
        <svg class="fill-current w-9 h-9 text-trueGray-400">
          <use xlink:href="#ph_upload-simple">
        </svg>
      </div>
      
    </div>
  </div>
{% endmacro %}