{% import "components/components.html.twig" as components %}

<div x-data='{ categories: JSON.parse(`{{ categories|json_encode()|raw }}`) }' class="border-t border-b divide-y divide-trueGray-100 border-trueGray-100">

{% for product in products %}
{% set thumbnailSrc = product.thumbnails[0].src %}
<div class="product-list-el product-{{ product.id }} group grid items-center h-20 hover:bg-trueGray-200" style="grid-template-columns: 3rem 24rem 13.75rem 10rem auto;">
  <svg class="w-6 h-6 fill-current"><use xlink:href="#ph_square"></svg>
  <div class="flex-shrink">
    <img src="{{ thumbnailSrc }}" class="inline-block w-16 h-16 mr-6 rounded-lg bg-trueGray-300">
    <span class="inline-block w-64">{{ product.title }}</span>
  </div>
  <div>
    <span class="text-trueGray-500">Rp</span>
    <span>{{ product.price|number_format(0, '', '.') }}</span>
  </div>
  <div>{{ 
    components.switch({
      name: "stock",
      checkedValue: 1,
      uncheckedValue: 0,
      checked: product.stock == 1,
      activeText: 'Ada',
      inactiveText: 'Habis',
      attributes: 'hx-put="' ~ route_to('update-product', product.id) ~ '" hx-include="' ~ ".product-#{ product.id } [name='stock']" ~ '" hx-target="#main" hx-indicator="#main-indicator"',
    }) }}
  </div>
  <div class="space-x-6">
    <button disabled class="btn">Lihat statistik</button>
    <button x-data @click="$dispatch('dropdownproduct{{ product.id }}')" class="opacity-0 group-hover:opacity-100">
      <svg class="inline w-6 h-6 fill-current text-trueGray-700">
        <use xlink:href="#ph_dots-three-vertical-bold">
      </svg>
    </button>
    <ul x-cloak x-data="{ show: false }" @dropdownproduct{{ product.id }}.window="show = !show" @click="show = false" @click.outside="show = false" x-show="show" class="absolute dropdown-menu dropdown-menu-base">
      <li @click="openProductForm({{ product.id }})">Edit</li>
      <li data-clipboard-text="{{ base_url(route_to('product-page', product.title)) }}" class="btn-copy">
        <span>Link untuk share</span>
        <svg class="w-5 h-5 fill-current"><use xlink:href="#ph_link-simple-horizontal"></svg>
      </li>
      <!-- <li>Tambah varian</li> -->
      <li hx-delete="{{ route_to('delete-product', product.id) }}" hx-confirm="Anda yakin ingin menghapus produk ini?" hx-target="#main" hx-indicator="#main-indicator" class="dropdown-menu-item-danger">
        <span>Hapus permanen</span>
        <svg class="w-5 h-5 fill-current"><use xlink:href="#ph_trash-simple"></svg>
      </li>
    </ul>
  </div>
</div>
<form x-cloak x-data="{show: false}" @open="show = true" @close="show = false" @click.outside="closeProductForm({{ product.id }})" x-collapse x-show="show" hx-put="{{ route_to('update-product', product.id) }}"  hx-target="#main" hx-indicator="#main-indicator" class="product{{ product.id }}Form py-2 pl-12 space-y-6">
  <div class="flex gap-6">
    <a href="#" class="relative block overflow-hidden rounded-lg w-28 h-28">
      <img src="{{ thumbnailSrc }}" class="w-full h-full">
      <span class="absolute bottom-0 grid items-center w-full font-semibold text-center text-white h-7 bg-emerald-500">Ubah foto</span>
    </a>
    <div class="space-y-4 w-96">
      {{
        components.input({
          label: 'Judul produk',
          name: 'title',
          value: product.title,
        })
      }}
      {{
        components.input({
          label: 'Deskripsi',
          name: 'desc',
          type: 'textarea',
          rows: 3,
          value: product.desc,
        })
      }}
    </div>
    <div class="space-y-4 w-96">

      <div class="grid gap-1">
        <label for="price" class="font-semibold text-trueGray-800">Harga</label>
        <input name="price" type="hidden" value="{{ product.price }}">
        <input-container class="input-base input-default">
          <span>Rp</span>
          <input x-data @input="priceMask($event)" value="{{ product.price|number_format(0, '', '.') }}" type="text">
        </input-container>
      </div>

      <div x-data='helper.addCatData(categories, JSON.parse(`{{ product.categories|json_encode()|raw }}`))' @click.stop class="relative grid gap-1">
        <input name="cats" type="hidden" :value="JSON.stringify(updatedCats)">
        <label for="cats" class="font-semibold text-trueGray-800">Kategori</label>
        <input x-ref="input" @focus="show = true" x-model="inputVal" @input="searchCat(inputVal)" @keydown.enter.prevent @clearinput.window="$el.value = ''" placeholder="Ketik kategori disini" class="w-full input input-lg input-default">
        <div class="flex flex-wrap gap-2 pt-2">
          <template x-for="cat in updatedCats">
            <span class="chip chip-sm" x-show="cat.id < 0 || !cat.remove">
              <span class="lozenge lozenge-sm lozenge-success" x-show="cat.id < 0">Baru</span>
              <span x-text="cat.name"></span>
              <svg @click="removeCat(cat);"><use xlink:href="#ph_x"></svg>
            </span>
          </template>
        </div>
        <ul x-cloak x-show="show" @click="show = false" @click.outside="show = $event.target === $refs.input" class="absolute left-0 w-full top-20 dropdown-menu dropdown-menu-lg">
          <template x-for="cat in dropdownCats">
            <li x-text="cat.name" @click="addCat(cat); $dispatch('clearinput')"></li>
          </template>
          <template x-if="dropdownCats.length === 0 && inputVal.trim()">
            <li x-text="'Tambah kategori ' + inputVal" @click="addNewCat(inputVal); inputVal = ''; "></li>
          </template>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex justify-end w-[58rem] gap-3">
    <button @click="closeProductForm({{ product.id }})" type="button" class="btn btn-base btn-outlined-black">Kembali</button>
    <button type="submit" class="btn btn-base btn-black">
      <span>Simpan</span>
      <svg>
        <use xlink:href="#ph_check-bold">
      </svg>
    </button>
  </div>
</form>
{% endfor %}
<script>
  function priceMask(e) {
    const x = e.target.value.replace(/\D/g, '')
    const rem = x.length % 3
    const x2 = x.substring(rem).match(/(\d{3})/g)
    let formated = ''

    if(rem > 0)
      formated = x.substring(0, rem)

    if(x2)
      formated += (rem > 0 ? '.' : '') + x2.join('.')

    e.target.value = formated
    console.log(x)
    document.querySelector('[name="price"]').value =  x
  }
</script>

</div>