{% extends template %}
{% block title %}Pengaturan - {{ store.name }}{% endblock title %}

{% block main %}
<header class="h-20 py-4 px-7">
  <h1 class="text-3xl font-bold">Pengaturan</h1>
</header>
<div class="flex">
  <div hx-boost="true" hx-indicator="#main-indicator" hx-target="#main" class="w-48 text-lg border-r-0 border-neutral-200">
    {{ _self.nav_item('Info toko', 'store', current_page) }}
    {{ _self.nav_item('Template pesan', 'message', current_page) }}
    {{ _self.nav_item('Sosial media', 'social-profiles', current_page) }}
    {{ _self.nav_item('Akun admin', 'account', current_page) }}
  </div>
  <div class="pl-8 w-[36rem]">
    {% include "admin/settings_#{current_page}.html.twig" %}
  </div>
</div>

{% endblock main %}

{% macro nav_item(name, target_page, current_page) %}
<a href="{{ route_to('settings', target_page) }}" class="{{ current_page == target_page ? 'font-semibold text-emerald-600 bg-neutral-100' : 'text-neutral-700' }} flex justify-between py-2 pr-8 rounded-r-lg cursor-pointer pl-7 hover:bg-neutral-100">
  <span>{{ name }}</span>
</a>
{% endmacro %}