{% extends "wrappers/client.html.twig" %}
{% block title %}{{ store.name }}{% endblock title %}

{% block main %}
<main class="flex-grow px-4 mx-auto mt-14 md:mt-0 md:px-8 lg:px-8 max-w-7xl">
  <div class="grid gap-8 pb-12 mt-6 md:grid-cols-3 lg:gap-12 lg:grid-cols-4">
    {% for product in products %}
    <div>
      <a href="{{ route_to('product-page', product.title) }}">
        <img class="w-full h-auto md:" src="{{ route_to('content-photos', 'lg', product.filenames[0].filename) }}">
        <div class="text-lg font-semibold">{{ product.title }}</div>
        <div class="text-base">
          <span>Rp</span>
          <span>{{ product.price|number_format(0, '', '.') }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock main %}