{% extends "wrappers/client.html.twig" %}
{% block title %}{{ product.title }} - {{ store.name }}{% endblock title %}

{% block main %}
  <div class="max-w-5xl mb-10 md:grid md:grid-cols-7 lg:grid-cols-2 md:gap-8 md:mb-20">
    <div x-data="{ current: 0, max: {{ photos|length }}, goto(i){ this.current = i }, next(){ this.current < this.max - 1 ? this.current++ : null }, prev(){ this.current > 0 ? this.current-- : null } }" class="md:col-span-3 lg:col-span-1">
      <div class="relative">
        {% for photo in photos %}
        <img x-show="current === {{ loop.index0 }}" :src="current === {{ loop.index0 }} ? '{{ route_to('content-photos', 'lg', photo.filename) }}' : ''" width="1000" height="1000" class="h-auto max-w-full">
        {% endfor %}
        <div class="absolute top-0 left-0 items-center justify-between hidden w-full h-full p-6 transition-opacity opacity-0 select-none md:flex hover:opacity-100">
          <div @click="prev()" class="p-2 bg-white rounded-full cursor-pointer opacity-70">
            <svg class="w-6 h-6 fill-current text-trueGray-900"><use xlink:href="#ph_caret-left-bold"></svg>
          </div>
          <div @click="next()" class="p-2 bg-white rounded-full cursor-pointer opacity-70">
            <svg class="w-6 h-6 fill-current text-trueGray-900"><use xlink:href="#ph_caret-right-bold"></svg>
          </div>
        </div>
        <div class="absolute flex justify-center w-full gap-2 md:hidden bottom-6">
          {% for photo in photos %}
            <div :class="{ 'opacity-50': current !== {{ loop.index0 }} }" class="w-2 h-2 rounded-full bg-trueGray-800"></div>
          {% endfor %}
        </div>
      </div>
      <div class="relative flex w-full gap-3 mt-3 overflow-x-auto md:mt-5" style="scroll-behavior: smooth;">
        {% for photo in photos %}
        <img x-init="$watch('current', v => v === {{ loop.index0 }} && window.innerWidth > 768 ? $el.scrollIntoView({behavior: 'smooth', block: 'nearest', inline: 'center'}) : null)" @click="goto({{ loop.index0 }})" :class="{'opacity-70': current !== {{ loop.index0 }}}" src="{{ route_to('content-photos', 'sm', photo.filename) }}" width="112" height="112" class="w-20 h-20 cursor-pointer md:w-16 md:h-16">
        {% endfor %}
      </div>
    </div>
    <div class="md:col-span-4 lg:col-span-1">
      <h1 class="mt-5 text-4xl font-bold md:mt-0 lg:text-5xl">{{ product.title }}</h1>
      <h2 class="mt-1 text-2xl lg:mt-2">Rp {{ product.price|number_format(0, '', '.') }}</h2>
      {% if product.stock == 0 %}
      <span class="text-red-600 lg:text-lg">Stok habis</span>
      {% endif %}
      <p class="mt-4 mb-5 lg:text-lg">{{ product.desc }}</p>
      <div class="sticky bottom-0 py-3 md:static">
        <a target="_blank" href="https://wa.me/{{ store.phone }}?text={{ store.message|url_encode }}">
          <button class="justify-center w-full md:w-auto btn btn-lg btn-black">
            <svg><use xlink:href="#ph_whatsapp-logo-bold"></svg>
            Tanya via WhatsApp
          </button>
        </a>
        </div>
      <p class="text-trueGray-800 md:w-80">Pengiriman & pembayaran bisa didiskusikan melalui WhatsApp.</p>
    </div>
  </div>
{% endblock main %}