{% extends "wrappers/base.html.twig" %}
{% block head %}
<script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.5.1/dist/cdn.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.6.0"></script>
{% endblock head %}

{% block body %}

<body class="relative flex w-full">
  {% include "dest/symbol/iconset.svg" %}
  <aside x-data="{ showNav: false }" @click.outside="showNav = false"
    class="fixed top-0 z-50 w-full text-white select-none md:sticky md:h-screen md:w-24 md:flex md:flex-col lg:w-56 h-14 bg-trueGray-900">
    <div @click="showNav = !showNav" class="ml-4 mt-[0.875rem] cursor-pointer fill-current w-7 h-7 md:hidden">
      <svg x-show="!showNav" class="w-full h-full">
        <use xlink:href="#ph_list-bold" />
      </svg>
      <svg x-show="showNav" class="w-full h-full">
        <use xlink:href="#ph_x-bold" />
      </svg>
    </div>
    <div class="absolute text-xl transform -translate-x-1/2 -translate-y-1/2 md:border-b md:border-trueGray-800 left-1/2 top-1/2 md:text-base md:w-full md:mt-4 lg:mt-0 lg:py-4 md:text-center md:static md:transform-none">
      <a target="_blank" href="{{ route_to('/') }}">
        <span class="font-semibold md:hidden">
          {{ '[[STORENAME]]' }}
        </span>
        <div class="flex-col items-center justify-center hidden h-20 md:flex lg:flex-row-reverse lg:items-start lg:h-auto lg:justify-between lg:px-4">
          <svg class="fill-current w-7 h-7 lg:w-6 lg:h-6">
            <use xlink:href="#ph_arrow-square-out" />
          </svg>
          <div class="lg:text-left">
            <span class="lg:hidden">
              {{ store.name|u.truncate(8, '...') }}
            </span>
            <span class="hidden lg:block">
              {{ store.name|u.truncate(19, '...') }}
            </span>
            <span class="hidden text-sm lg:block text-trueGray-400">
              {{ base_url('/')|u.truncate(25, '...') }}
            </span>
          </div>
        </div>
      </a>
    </div>
    <nav hx-boost="true" hx-indicator="#main-indicator" hx-target="#main" x-data="navData()" x-show="showNav"
      x-transition class="absolute w-full pt-1 md:flex-grow md:pt-0 md:static bg-trueGray-900 admin-nav">
      <div class="relative">
        {{ _self.nav_group_skeleton() }}
        {{ _self.nav_item('Home', 'house', route_to('admin')) }}
        {{ _self.nav_item('Produk', 'package', route_to('admin/products')) }}
        {{ _self.nav_item('Kategori', 'squares-four', route_to('admin/categories')) }}
        {{ _self.nav_item('Pengaturan', 'gear-six', route_to('admin/settings')) }}
        {{ _self.nav_item('Bantuan', 'question', route_to('admin/help')) }}
      </div>
      
      <div class="relative border-t border-trueGray-800">
        {{ _self.nav_group_skeleton() }}
        {{ _self.nav_item('Logout', 'sign-out', route_to('logout'), 'hx-disable hx-ignore x-ignore') }}
        {{ _self.nav_item('Beri saran/kritik', 'chat-text', route_to('admin/send-feedback'), 'hx-disable hx-ignore x-ignore') }}
      </div>
    </nav>
  </aside>

  <main id="main" class="relative z-0 flex-grow mt-14 md:mt-0">
    {% block main %}{% endblock main %}
  </main>

  <div x-data
    :style="{ left: `${document.querySelector('#main').offsetLeft}px`, width: `${document.querySelector('#main').offsetWidth}px` }"
    id="main-indicator" class="fixed top-0 grid h-screen bg-white htmx-indicator place-content-center">
    {% include "components/loading_spinner_base.html" %}
  </div>

  <script>
    function navData() {
      return {
        currentPath: location.pathname,
        viewPage(path) {
          this.currentPath = path
        }
      }
    }
    document.addEventListener('alpine:init', () => {
      Alpine.store('onboarding', false)
    })
  </script>
  <script src="{{ base_url('js/admin.js') }}"></script>
</body>
{% endblock body %}

{% macro nav_item(name, icon, path, attributes) %}
<a {{ attributes }} x-data="{ myPath: '{{ path }}' }" @click="viewPage(myPath)"
  :class="{ 'text-emerald-400': currentPath === myPath }" href="{{ path }}"
  :tabindex="$store.onboarding ? -1 : 0"
  class="flex items-center gap-4 py-4 pl-4 hover:bg-emerald-900 md:flex-col md:gap-0 md:text-center md:p-0 md:h-20 md:flex md:justify-center lg:flex-row lg:justify-start lg:pl-4 lg:h-auto lg:py-4 lg:gap-4">
  <svg x-show="currentPath !== myPath" class="fill-current w-7 h-7">
    <use xlink:href="#ph_{{ icon }}" />
  </svg>
  <svg x-cloak x-show="currentPath === myPath" class="fill-current w-7 h-7">
    <use xlink:href="#ph_{{ icon }}-bold" />
  </svg>
  <span :class="{ 'font-semibold': currentPath === myPath }" class="text-xl md:text-base lg:text-lg">
    {{ name }}
  </span>
</a>
{% endmacro %}

{% macro nav_group_skeleton() %}
<div x-show="$store.onboarding" x-transition:leave.duration.500ms class="absolute inset-0 flex flex-col p-6 space-y-4 bg-trueGray-900">
  <div class="w-full h-12 rounded-lg bg-trueGray-800"></div>
  <div class="w-full h-12 rounded-lg bg-trueGray-800"></div>
</div>
{% endmacro %}
